<h3 class="is-size-4">Sign up</h3>

<form (ngSubmit)="signin()" #signupForm="ngForm">
  <div class="field">
    <label class="label" for="username">Email</label>
    <input class="input" type="email" id="username" name="username" [(ngModel)]="formData.username" required>
  </div>
  <div class="field">
    <label class="label" for="password">Password</label>
    <input class="input" type="password" id="password" name="password" [(ngModel)]="formData.password" required>
  </div>
  <div class="field">
    <label class="label" for="confirmPassword">Confirm password</label>
    <input class="input" type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="formData.confirmPassword" required>
  </div>
  <div class="field">
    <button class="button is-primary" type="submit" [disabled]="!signupForm.valid">Create account</button>
  </div>

  <p *ngIf="passwordInvalid" class="help is-danger">
    Password must be at least 6 characters!
  </p>
  <p *ngIf="passwordsMatch == false" class="help is-danger">
    Passwords must match!
  </p>

  
</form>





