<h3 class="is-size-4">Log in</h3>

<form (ngSubmit)="login()" #loginForm="ngForm">
  <div class="field">
    <label class="label" for="username">Email</label>
    <input class="input" type="email" id="username" name="username" [(ngModel)]="formData.username" required>
  </div>
  <div class="field">
    <label class="label" for="password">Password</label>
    <input class="input" type="password" id="password" name="password" [(ngModel)]="formData.password" required>
  </div>
  <div class="field">
    <button class="button is-primary" type="submit" [disabled]="!loginForm.valid">Log in</button>
  </div>
</form>